/* base.html */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}
nav li{
    float: left;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;

}
nav li a:hover{
    background-color: #111;
}
/* alert */
.alert{
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #badaff;
    border-radius: 5px;
}