<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="{{ url_for('static', filename='favicon.ico' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css' )}}" type="text/css">
   
</head>
<title>{{ user.name }}'s Watchlist</title>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    
  <!--  -->
    <h2>
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.png' )}}" alt="Avater">
        {{ name }}'s Watchlist
    </h2>

    <!--  -->
    <nav class="home_title">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>{# 等同于movies ['title'] #}
        </ul>
    </nav>
    {% block content %}    {% endblock %}
        <footer>
            <small>
                &copy; 2018 <a href="http://helloflask.com/tutori
                al">helloflask</a>
            </small>
        </footer>
</html>