<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}" type="text/css">
    </head>
    <title>{{ user.name }}'s Watchlist</title>
</head>
<body>
  
  {% extends 'base.html' %}

  {% block content %}
  <form method="post"> <!-- 指定提交方法为 POST -->
    <label for="name">名字</label>
    <input type="text" name="name" id="name"><br> <!-- 文本输入框
    -->
    <label for="occupation">职业</label>
    <input type="text" name="occupation" id="occupation"><br> <!-- 文本输入框 -->
    <input type="submit" name="submit" value="登录"> <!-- 提交按钮 -->
    </form>
    

  <!--  表单-->
    {# 使用length 过滤器获取 movies 变量的长度 #}
    <p>{{ movies|length }} Title</p>
    <form method="post">
      Name <input type="text" name="title" autocomplete="off" requ
      ired>
      Year <input type="text" name="year" autocomplete="off" requi
      red>
      <input class="btn" type="submit" name="submit" value="Add">
      </form>
    <!-- 内容 -->
    
    <ul class="movies-list">
        {% for movie in movies %}  {# 迭代movies变量 #}
        <li>{{movie.title}} - {{ movie.year }}

          <span class="float-right">
     
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
            <a class="imdb" href="#" target="_blank" title="Find this movie on IMDb">IMDb</a>
            </span>
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
              <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
          </form>
        </li>{# 等同于movies ['title'] #}
        {% endfor %}    {# 使用 endfor 标签结束for语句 #}
        
    </ul>
    <img class="Walking Totoro" src="{{ url_for('static', filename='images/totoro.gif' )}}" alt="Waking Totoro">
      {% endblock %}

      

</body>
</html>